<nav class="pointer-events-auto h-full">
  <ul class="px-4 grid grid-flow-col gap-4 h-full text-sm font-medium">
    {{ range .Items }}
      {{ template "partials/nav-item.tmpl" . }}
    {{ end }}
  </ul>
</nav>
