<ol>
{{ range $key, $value := .ChildEntries.DirEntries }}
  <li>
    <details class="group/{{ .Depth }}">
      <summary class="pl-{{ treeDepthToOffset .Depth }} highlight rounded flex gap-3 py-1">
        <span class="icon folder-closed group-open/{{ .Depth }}:hidden"></span>
        <span class="icon folder-open group-open/{{ .Depth }}:flex hidden"></span>
        {{ .Name }}
      </summary>
      <div>
        <span>
        {{ template "partials/tree.tmpl" $value }}
      </div>
    </details>
  </li>
{{ end }}
{{ range $key, $value := .ChildEntries.FileEntries }}
  <li>
    <a class="pl-{{ treeDepthToOffset .Depth }} highlight rounded flex gap-3 file py-1 w-full block" href="/{{ .Path }}">
      <span class="icon file"></span>
      {{ .Name }}
    </a>
  </li>
{{ end }}
</ol>
