<div>
  <table>
    <thead>
      <tr>
        <td></td>
      </tr>
    </thead>
    <tbody>
      {{range .File}}
      <tr>
        <td></td>
      </tr>
      {{end}}
    </tbody>
  </table>
</div>
