{{ template "partials/base-start.tmpl" . }}
<div class="pl-4 sm:pl-6 lg:pl-8">
  <div class="h-full grid grid-cols-[min-content_auto]">
    <div class="pt-4 overflow-hidden flex flex-col">
      <div class="branch">
        <details class="sticky top-0 mb-1 mr-4 group relative z-50">
          <summary class="flex highlight items-center justify-between rounded-lg border border-zinc-300  px-4 py-2 text-sm font-medium text-zinc-800 shadow-sm transition hover:bg-zinc-50 dark:border-zinc-700 dark:bg-zinc-900 dark:text-zinc-100 dark:hover:bg-zinc-800">
            <span class="icon git-branch"></span>
            <span class="flex-1 text-left ml-2">Branch</span>
            <span class="icon chevron h-4 w-4 transition-transform group-open:rotate-180"></span>
          </summary>

          <div class="absolute right-0 mt-2 w-full overflow-hidden rounded-lg border border-zinc-200 bg-white shadow-lg dark:border-zinc-700 dark:bg-zinc-900">
            {{ range .Branches }}
            <a class="block px-4 py-2 text-sm text-zinc-700 hover:bg-zinc-100 dark:text-zinc-200 dark:hover:bg-zinc-800" href="/{{.RepoName}}/blob/{{ .Hash }}">{{ .Name }}</a>
            {{ end }}
          </div>
        </details>
      </div>

      <div style="scrollbar-gutter: stable;" class="grid auto-rows-min overflow-y-auto">
        <nav>
          {{ template "partials/tree.tmpl" .TreeEntryMap.Root }}
        </nav>
      </div>
    </div>

    <div class="border-l overflow-y-auto">
      {{ if .Contents }}
      {{ htmlSafe .Contents }}
      {{ else }}
      Select a file
      {{ end }}
    </div>
  </div>
</div>
<script>
  // The anchor is used to determine which line to 'lock' when shift-selecting
  // multiple lines.
  let anchor, start, end;

  const lines = document.querySelectorAll(".ln");
  
  lines.forEach((line, index) => {
    line.addEventListener("click", (e) => {
      const lineNumber = index + 1;

      if (e.shiftKey && anchor !== null) {
        highlightRange(anchor, lineNumber);
      } else {
        highlightRange(lineNumber, lineNumber);
        anchor = lineNumber
      }
    });
  });

  // Process the URL hash onload if it exists
  window.addEventListener('DOMContentLoaded', function () {
    processUrlHash();
    
    if (start) {
      // Scroll the hightligted line(s) into view
      lines[start - 1]?.scrollIntoView({ block: "center" });
    }
  });

  // Process changes during the lifetime of the application
  window.addEventListener("hashchange", processUrlHash);

  // Process the URL has fragment and highlight the targetted lines
  function processUrlHash() {
    let [, i1, i2] = window.location.hash.match(/#L(\d+)?(?:\-L)?(\d+)?/i) || [];
    if (!i1 && !i2) {
      return
    }

    i1 = parseInt(i1) || Infinity
    i2 = parseInt(i2) || Infinity

    start = Math.min(i1, i2)
    end = Math.max(i1, i2) == Infinity ? start : end
    
    if (!anchor) {
      anchor = start
    }
    
    highlightRange(start, end);
  }

  // Replaces the URL hash fragment
  function updateUrlHash(start, end) {
    if (start === end) {
      history.replaceState(null, "", `#L${start}`);
    } else {
      history.replaceState(null, "", `#L${start}-L${end}`);
    }
  }

  // Clear the existing highlights
  function highlightRange(start, end) {
    document.querySelectorAll('.hl').forEach(el => {
      el.classList.remove('hl');
    });

    const [min, max] = [Math.min(start, end), Math.max(start, end)];

    for (let i = min; i <= max; i++) {
      lines[i - 1].parentElement.classList.add("hl");
    }

    updateUrlHash(min, max);
  }
</script>
{{ template "partials/base-stop.tmpl" . }}
