@import "./palettes/default.css";

@font-face {
  font-family: CommitMono;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/static/commit-mono.woff2") format("woff2");
}

html, body {
  @apply antialiased font-mono text-sm font-medium bg-white text-zinc-800 dark:bg-zinc-900 dark:text-zinc-100;
  overflow: overlay;
}

.highlight {
  @apply cursor-pointer border-zinc-300 hover:bg-zinc-50 dark:border-zinc-700 dark:hover:bg-zinc-800;
}

/* PreWrapper */
.chroma {
  font-size: 12px;

  @apply min-h-full;
  @apply py-3;
}

/* Error */
.chroma .err {
  color: var(--base08);
}

/* LineLink */
.chroma .lnlinks {
  outline: none;
  text-decoration: none;
  color: inherit
}

/* LineTableTD */
.chroma .lntd {
  vertical-align: top;
  padding: 0;
  margin: 0;
  border: 0;
}

/* LineTable */
.chroma .lntable {
  border-spacing: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

/* LineHighlight */
.chroma .hl {
  background-color: var(--base01);
}

/* LineNumbersTable */
.chroma .lnt {
  @apply ml-3;
  white-space: pre;
  -webkit-user-select: none;
  user-select: none;
  margin-right: 0.4em;
  padding: 0 0.4em 0 0.4em;
  color: var(--base03);
}

/* LineNumbers */
.chroma .ln {
  @apply ml-3;
  white-space: pre;
  -webkit-user-select: none;
  user-select: none;
  margin-right: 0.4em;
  padding: 0 0.4em 0 0.4em;
  color: var(--base03);
}

/* Line */
.chroma .line {
  display: flex;
}

/* Keyword */
.chroma .k {
  color: var(--base0E)
}

/* KeywordConstant */
.chroma .kc {
  color: var(--base0E)
}

/* KeywordDeclaration */
.chroma .kd {
  color: var(--base08)
}

/* KeywordNamespace */
.chroma .kn {
  color: var(--base0E)
}

/* KeywordPseudo */
.chroma .kp {
  color: var(--base0E)
}

/* KeywordReserved */
.chroma .kr {
  color: var(--base0E)
}

/* KeywordType */
.chroma .kt {
  color: var(--base0C)
}

/* NameAttribute */
.chroma .na {
  color: var(--base0D)
}

/* NameBuiltin */
.chroma .nb {
  color: var(--base08)
}

/* NameClass */
.chroma .nc {
  color: var(--base0A)
}

/* NameConstant */
.chroma .no {
  color: var(--base09)
}

/* NameDecorator */
.chroma .nd {
  color: var(--base09)
}

/* NameFunction */
.chroma .nf {
  color: var(--base0D)
}

/* NameLabel */
.chroma .nl {
  color: var(--base08)
}

/* NameTag */
.chroma .nt {
  color: var(--base0E)
}

/* NameVariable */
.chroma .nv {
  color: var(--base08)
}

/* NameVariableClass */
.chroma .vc {
  color: var(--base08)
}

/* NameVariableGlobal */
.chroma .vg {
  color: var(--base08)
}

/* NameVariableInstance */
.chroma .vi {
  color: var(--base08)
}

/* LiteralString */
.chroma .s {
  color: var(--base0B)
}

/* LiteralStringAffix */
.chroma .sa {
  color: var(--base0B)
}

/* LiteralStringBacktick */
.chroma .sb {
  color: var(--base0B)
}

/* LiteralStringChar */
.chroma .sc {
  color: var(--base0B)
}

/* LiteralStringDelimiter */
.chroma .dl {
  color: var(--base0B)
}

/* LiteralStringDoc */
.chroma .sd {
  color: var(--base0B)
}

/* LiteralStringDouble */
.chroma .s2 {
  color: var(--base0B)
}

/* LiteralStringEscape */
.chroma .se {
  color: var(--base0B)
}

/* LiteralStringHeredoc */
.chroma .sh {
  color: var(--base0B)
}

/* LiteralStringInterpol */
.chroma .si {
  color: var(--base0B)
}

/* LiteralStringOther */
.chroma .sx {
  color: var(--base0B)
}

/* LiteralStringRegex */
.chroma .sr {
  color: var(--base0B)
}

/* LiteralStringSingle */
.chroma .s1 {
  color: var(--base0B)
}

/* LiteralStringSymbol */
.chroma .ss {
  color: var(--base0B)
}

/* LiteralNumber */
.chroma .m {
  color: var(--base09)
}

/* LiteralNumberBin */
.chroma .mb {
  color: var(--base09)
}

/* LiteralNumberFloat */
.chroma .mf {
  color: var(--base09)
}

/* LiteralNumberHex */
.chroma .mh {
  color: var(--base09)
}

/* LiteralNumberInteger */
.chroma .mi {
  color: var(--base09)
}

/* LiteralNumberIntegerLong */
.chroma .il {
  color: var(--base09)
}

/* LiteralNumberOct */
.chroma .mo {
  color: var(--base09)
}

/* Operator */
.chroma .o {
  color: var(--base0E)
}

/* OperatorWord */
.chroma .ow {
  color: var(--base0E)
}

/* Comment */
.chroma .c {
  color: var(--base03)
}

/* CommentHashbang */
.chroma .ch {
  color: var(--base03)
}

/* CommentMultiline */
.chroma .cm {
  color: var(--base03)
}

/* CommentSingle */
.chroma .c1 {
  color: var(--base03)
}

/* CommentSpecial */
.chroma .cs {
  color: var(--base03)
}

/* CommentPreproc */
.chroma .cp {
  color: var(--base03)
}

/* CommentPreprocFile */
.chroma .cpf {
  color: var(--base03)
}

/* GenericDeleted */
.chroma .gd {
  color: var(--base08)
}

/* GenericEmph */
.chroma .ge {
  text-decoration: underline
}

/* GenericError */
.chroma .gr {
  color: var(--base08)
}

/* GenericHeading */
.chroma .gh {
  font-weight: bold
}

/* GenericInserted */
.chroma .gi {
  font-weight: bold
}

/* GenericOutput */
.chroma .go {
  color: var(--base02)
}

/* GenericStrong */
.chroma .gs {
  font-style: italic
}

/* GenericSubheading */
.chroma .gu {
  font-weight: bold
}

/* GenericUnderline */
.chroma .gl {
  text-decoration: underline
}

summary::-webkit-details-marker {
  display: none;
}

.icon {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.icon::before {
  content: "";
  width: 1.2em;
  height: 1.2em;
  flex-shrink: 0;
  opacity: 0.55;
  background-color: currentColor;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;
}

.icon.chevron::before {
  -webkit-mask-image: url("/static/icons/chevron.svg");
  mask-image: url("/static/icons/chevron.svg");
}

.icon.file::before {
  -webkit-mask-image: url("/static/icons/file.svg");
  mask-image: url("/static/icons/file.svg");
}

.icon.folder-closed::before {
  -webkit-mask-image: url("/static/icons/folder-closed.svg");
  mask-image: url("/static/icons/folder-closed.svg");
}

.icon.folder-open::before {
  -webkit-mask-image: url("/static/icons/folder-open.svg");
  mask-image: url("/static/icons/folder-open.svg");
}

.icon.git-branch::before {
  -webkit-mask-image: url("/static/icons/git-branch.svg");
  mask-image: url("/static/icons/git-branch.svg");
}

.icon.logo::before {
  -webkit-mask-image: url("/static/icons/logo.svg");
  mask-image: url("/static/icons/logo.svg");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *, ::before, ::after {
    @apply border-[var(--base03)];
  }
}
